* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 0 0.2rem;
}

p {
  display: block;
}

span {
  font-weight: 600;
}

.container {
  padding: 3.5rem 2rem;
  display: flex;
  flex-direction: column;
}